 body {
    font-family: 'Saira';
    font-weight: 600;
    color:rgb(0, 0, 0);
    margin:0;
  }

  .greeting h2{
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: rgb(184, 240, 115);
    font-style: italic;
    -webkit-text-stroke: 2px black;
 margin-top: 80px;
  }


  .userImg-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 50px;
    margin-right: 50px;

  }

  .userImgs{
    list-style-type: none;
    margin: 20px 50px 50px 60px;
   
   
  }

  .userImgs img{
    width:200px;
    height: 200px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    padding:20px;
  }

  .userImgs button{
    border: 5px solid rgba(33, 33, 33, 0.848);
border-radius: 5%;
background-color: white;


  }