
.filter-detail{
    display: flex;
    justify-content: center;
}

.filter-detail button{
    color: black;
    font-size: 30px;
    margin: 5px;
    background-color: rgb(184, 240, 115);
    border-radius: 5px;
    font-weight: 500;
    padding: 15px;
    font-family: 'Saira';
    font-weight: 400;
    margin-bottom: 100px;
} 

.likesLink{
    text-decoration: none;
    color:black;

}

.commentsLink{
    text-decoration: none;
    color:black;

}

.dateLink{
    text-decoration: none;
    color:black;

}

.ascendingLink{
    text-decoration: none;
    color:black;

}


/* filtered topic article */

.articleList-container{
    font-size: 20px;
    font-family: 'Saira';
    font-weight: 300;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.articleList-single{
    list-style-type: none;
    width:500px;
    
}

.articleList-heart{
    display: flex;
    flex-direction: row;
    
}

.articleList-heart h4{
   
padding-right: 20px;    
}