
.filter-topics{
    display: flex;
    justify-content: center;

}

.filter-topics button{
    color:black;
    font-size: 30px;
    margin: 5px;
    background-color: rgb(184, 240, 115);
    border-radius: 5px;
    font-weight: 500;
    padding: 15px;
    font-family: 'Saira';
    font-weight: 400;
    margin-bottom: 100px;
} 

.cookingLink{
    text-decoration: none;
    color:black;

}

.codingLink{
    text-decoration: none;
    color:black;


}

.footballLink{
    text-decoration: none;
    color:black;

}
