.singleArticle-container{
    margin-left: 100px;
    margin-right: 100px;
}


.articleList-container-single{
    font-size: 20px;
    font-family: 'Saira';
    font-weight: 300;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.articleList-singleArticle{
    list-style-type: none;
   
  

    
}

.articleList-heart{
    display: flex;
    flex-direction: row;
    
    
}

.articleList-heart h4{
   
padding-right: 20px;    
display: flex;
align-items: center;
margin-bottom: 0;
padding-bottom: 0;

}

.readmore{
    font-size: 25px;
  
    text-decoration: none;
    
}

.vote{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 70px;
    
}

.voteUp{
    font-size: 40px;
    margin-right: 40px;
    padding:5px 15px 5px 15px;
    border:3px solid rgba(41, 40, 40, 0.654);
    border-radius: 20px;
    cursor: pointer;
    background-color: rgb(236, 244, 234);
    
}

.voteDown{
    font-size: 40px;
    margin-left: 40px;
    padding:5px 15px 5px 15px;
    border:3px solid rgba(41, 40, 40, 0.654);
    border-radius: 20px;
    cursor: pointer;
    background-color: rgb(236, 244, 234);


}


form{
    display: flex;
    justify-content: center;
}



.commentInput{
    font-size: 22px;
    font-family: 'Saira';
    font-weight: 600;
    width: 550px
}

.commentBtn{
    font-size: 22px;
    font-family: 'Saira';
    font-weight: 800;
    padding:0px 5px 0px 5px;
    margin-left: 10px;
}

.addedComments{
    list-style-type: none;
    font-size: 22px;
    font-family: 'Saira';
    font-weight: 600;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.addedComments ul{
    padding: 0;
    margin:0;

   
}


.addedComments li{
    padding: 0;
    margin:0;
  
   
}


.commentsList{
margin-left: 60px;
margin-right: 60px;
/* width:50%; */
margin-bottom: 100px;

}

.singleCommentList h2{
    font-weight: 700;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.858);
    
}

.singleCommentList h3{
    font-weight: 500;
    font-size: 20px;

}

.singleCommentList button{
    font-size: 20px;
    padding: 5px 10px 5px 10px;
}

.deleteBtn {
    margin-left: 20px;
    font-size: 22px;
    cursor: pointer;
    border: none;
    background-color: none;
   
}